HomeBudgetWeb/HomeBudgetWeb/Connected Services/HomeBudgetWebServiceReference/HomeBudgetWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KorisnikLogIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KorisnikLogInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="KorisnikLogInResult" type="tns:Korisnik" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Korisnik">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" nillable="true" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Ime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Prezime" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="KorisnikLogInSoapIn">
    <wsdl:part name="parameters" element="tns:KorisnikLogIn" />
  </wsdl:message>
  <wsdl:message name="KorisnikLogInSoapOut">
    <wsdl:part name="parameters" element="tns:KorisnikLogInResponse" />
  </wsdl:message>
  <wsdl:portType name="HomeBudgetWebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="KorisnikLogIn">
      <wsdl:input message="tns:KorisnikLogInSoapIn" />
      <wsdl:output message="tns:KorisnikLogInSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HomeBudgetWebServiceSoap" type="tns:HomeBudgetWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KorisnikLogIn">
      <soap:operation soapAction="http://tempuri.org/KorisnikLogIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HomeBudgetWebServiceSoap12" type="tns:HomeBudgetWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KorisnikLogIn">
      <soap12:operation soapAction="http://tempuri.org/KorisnikLogIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HomeBudgetWebService">
    <wsdl:port name="HomeBudgetWebServiceSoap" binding="tns:HomeBudgetWebServiceSoap">
      <soap:address location="http://localhost:53278/HomeBudgetWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="HomeBudgetWebServiceSoap12" binding="tns:HomeBudgetWebServiceSoap12">
      <soap12:address location="http://localhost:53278/HomeBudgetWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>